@charset "UTF-8";

.whole-chart-wrapper{
	margin : 70px 70px 70px 170px;
}

.chart-1-wrapper{
	margin : 50px;
	display :flex;
	float : left;
	width : 500px;
}

.chart-2-wrapper{
	margin : 50px;
	display :flex;
	float : left;
	width : 500px;
}

.chart-3-wrapper{
	margin : 50px;
	display :flex;
	float : left;
	width : 500px;
}

.chart-4-wrapper{
	margin : 50px;
	display :flex;
	float : left;
	width : 500px;
}
.chart-letter-wrapper-1{
	color : white;
	text-align : center;
	position : relative;
}
.chart-letter-wrapper-2{
	color : white;
	text-align : center;
	position : relative;
	
}
.chart-letter-wrapper-3{
	color : white;
	text-align : center;
	position : relative;
	
}
.chart-letter-wrapper-4{
	color : white;
	text-align : center;
	position : relative;
	
}




