@charset "UTF-8";

.whole-chart-wrapper{
	margin : auto;
}

.chart-1-wrapper{
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
	width : 1500px;
	margin : 30px;
}

.chart-2-wrapper{
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
	width : 680px;
}

.chart-3-wrapper{
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
	width : 680px;
}
.chart-4-wrapper{
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
	width : 680px;
}

.chart-letter-wrapper-1{
	color : white;
	text-align : center;
	position : relative;
}
.chart-letter-wrapper-2{
	color : white;
	text-align : center;
	position : relative;
}
.chart-letter-wrapper-3{
	color : white;
	text-align : center;
	position : relative;
}
.chart-letter-wrapper-4{
	color : white;
	text-align : center;
	position : relative;
	
}




