/*
파일명: checkList.js
설명: 칸반 카드 모달 상세페이지 내 구현될 카드 정보, 체크리스트 css
작성일: 2021-01-04 ~ 
작성자: 문지연
*/

/*Modals*/
.detailsModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgb(0,0,0,0.4);
}

.modal-detail{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: auto;
    border-radius: 15px;
}

.details {
    margin-left: 20px;
}

.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*card Title in Modal*/
.cardTitleMo {
	font-size:30px;
    padding-left:10px;
    margin-bottom:10px;
    width:30%;
    font-weight: 200;
	color: #454545;
}
.cardTitleMo:hover {
cursor: pointer;
}

#cardTitleForm {
    width: 30%;
    padding-left:10px;
    margin-bottom: 10px;
    line-height:50px;
    display: none;
}

#cardTitleInput {
	font-size:28px;
    padding-left:10px;
    margin-bottom:10px;
    font-weight: 200;
    background: transparent;
    color: #000;
    border: none;
    background: #f5df4d;
    border-radius: 5px;
    width:100%;
}

/*Check List in Modal*/
#checkListWrap {
	/*transition*/
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	box-sizing: border-box;
	margin: 0;
}

.checkListTitle {
	text-align: left;
	padding: 0;
	font-size: 25px;
	font-weight: 200;
	color: #454545;
}

.checkListTitle .fa-check {
	font-size: 25px;
	margin-right: 5px;
	color: #f5df4d;
}

#checkListForm {
	width : 95%;
	margin: 20px auto 20px 5px;
	padding: 30px;
	background: white;
	position: relative;
	/*box-shadow*/
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	/*border-radius*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#checkListForm:before {
	content: "";
	position: absolute;
	z-index: -1;
	/*box-shadow*/
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	top: 50%;
	bottom: 0;
	left: 10px;
	right: 10px;
	/*border-radius*/
	-webkit-border-radius: 100px/10px;
	-moz-border-radius: 100px/10px;
	border-radius: 100px/10px;
}

.todo-wrap {
	display: block;
	position: relative;
	padding-left: 35px;
	/*box-shadow*/
	-webkit-box-shadow: 0 2px 0 -1px #ebebeb;
	-moz-box-shadow: 0 2px 0 -1px #ebebeb;
	box-shadow: 0 2px 0 -1px #ebebeb;
}

.todo-wrap:last-of-type {
	/*box-shadow*/
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input[type="checkbox"] {
	position: absolute;
	height: 0;
	width: 0;
	opacity: 0;
	/* top: -600px; */
}

.todo {
	display: inline-block;
	font-weight: 200;
	padding: 10px 5px;
	height: 37px;
	position: relative;
}

.todo:before {
	content: '';
	display: block;
	position: absolute;
	top: calc(50% + 2px);
	left: 0;
	width: 0%;
	height: 1px;
	background: #cd4400;
	/*transition*/
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.todo:after {
	content: '';
	display: block;
	position: absolute;
	z-index: 0;
	height: 18px;
	width: 18px;
	top: 9px;
	left: -25px;
	/*box-shadow*/
	-webkit-box-shadow: inset 0 0 0 2px #d8d8d8;
	-moz-box-shadow: inset 0 0 0 2px #d8d8d8;
	box-shadow: inset 0 0 0 2px #d8d8d8;
	/*transition*/
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	/*border-radius*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.todo:hover:after {
	/*box-shadow*/
	-webkit-box-shadow: inset 0 0 0 2px #949494;
	-moz-box-shadow: inset 0 0 0 2px #949494;
	box-shadow: inset 0 0 0 2px #949494;
}

.todo .fa-check {
	position: absolute;
	z-index: 1;
	left: -31px;
	top: 0;
	font-size: 1px;
	line-height: 36px;
	width: 36px;
	height: 36px;
	text-align: center;
	color: transparent;
	text-shadow: 1px 1px 0 white, -1px -1px 0 white;
}

input[type=checkbox]:checked + label.todo {
	color: #717171;
}

input[type=checkbox]:checked + label.todo:before {
	width: 100%;
}

input[type=checkbox]:checked + label.todo:after {
	/*box-shadow*/
	-webkit-box-shadow: inset 0 0 0 2px #0eb0b7;
	-moz-box-shadow: inset 0 0 0 2px #0eb0b7;
	box-shadow: inset 0 0 0 2px #0eb0b7;
}

input[type=checkbox]:checked + label.todo .fa-check {
	font-size: 20px;
	line-height: 35px;
	color: #0eb0b7;
}
/* Delete Items */
.delete-item {
	display: block;
	position: absolute;
	height: 36px;
	width: 36px;
	line-height: 36px;
	right: 0;
	top: 0;
	text-align: center;
	color: #d8d8d8;
	opacity: 0;
}

.todo-wrap:hover .delete-item {
	opacity: 1;
	cursor: pointer;
}

.delete-item:hover {
	color: #f5df4d;
}
/* Add Items */
#add-todo {
	padding: 25px 0 0 0;
	font-size: 14px;
	font-weight: 200;
	color: #6e7579;
	display: inline-block;
	cursor: pointer;
}

#add-todo:hover {
	color: #f8df8c;
	/*transition*/
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

#add-todo .fa-plus {
	font-size: 14px;
	/*transition*/
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.input-todo {
	border: none;
	outline: none;
	font-weight: 200;
	position: relative;
	top: -1px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.editing {
	height: 0;
	overflow: hidden;
}

.editing.todo-wrap {
	box-shadow: 0 0 400px rgba(0, 0, 0, .8), inset 0 0px 0 2px #ebebeb;
}
