<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.bit.dao.CalendarDao">
 
<insert id="insertCalendar">
INSERT INTO calendar
(start,end,title,content,allday,color,project_seq,card_seq)
VALUES(#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8}) 
</insert>


<select id="getCalendarList" resultType="CalendarDto">
SELECT * FROM calendar WHERE project_seq = #{param1}
</select>

<update id="editCalendar">
UPDATE calendar
SET start=#{param1},end=#{param2}
WHERE id = #{param3} 
</update>

<delete id="deleteCalendar">
DELETE FROM calendar
WHERE id = #{param1} 
</delete>

<delete id="deleteCalendarKanban">
DELETE FROM calendar
WHERE card_seq = #{param1} 
</delete>

<update  id="updateCalendar">
UPDATE calendar
SET start=#{param1},end = #{param2},title = #{param3},content = #{param4},allday=#{param5},color=#{param6}
WHERE id = #{param7} 
</update>

</mapper>