<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 파일명: cardMemberMapper.xml 
	설명: cardMemberMapper.xml 
	작성일: 2021-01-10 ~ 
	작성자: 문지연 
-->
<mapper namespace="kr.or.bit.dao.CardMemberDao">
	<select id="projectMemList" resultType="userDto"
		parameterType="hashMap">
		SELECT U.EMAIL, U.NICKNAME, U.PROFILE, P.PROJECT_SEQ
		FROM USER U 
		RIGHT JOIN PROJECT_MEMBER P ON U.EMAIL=P.EMAIL
		WHERE P.PROJECT_SEQ = #{projectNum}
		AND U.EMAIL NOT IN 
		(SELECT K.EMAIL FROM KANBANCARD_MEMBER K WHERE CARD_SEQ=#{cardSeq})
		ORDER BY U.NICKNAME, U.EMAIL
	</select>
	
	<select id="getCardMemBySession" resultType="userDto"
		parameterType="hashMap">
		SELECT U.EMAIL, U.NICKNAME, U.PROFILE, K.CARD_SEQ
		FROM USER U 
		RIGHT JOIN PROJECT_MEMBER P ON U.EMAIL=P.EMAIL
        LEFT JOIN KANBANCARD_MEMBER K ON P.EMAIL=#{sessionEmail}
		WHERE P.PROJECT_SEQ = #{projectNum}
        AND K.CARD_SEQ IS NOT NULL
        AND K.EMAIL=#{sessionEmail}
	</select>

	<insert id="insertCardMem" parameterType="HashMap">
		INSERT INTO
		KANBANCARD_MEMBER(EMAIL, CARD_SEQ)
		VALUES(#{cardMember.email},
		#{cardMember.card_seq})
	</insert>


	<select id="showMemberByCard" resultType="userDto"
		parameterType="int">
		SELECT U.EMAIL, U.NICKNAME, U.PROFILE
		FROM USER U JOIN KANBANCARD_MEMBER K
		ON
		U.EMAIL = K.EMAIL
		WHERE K.CARD_SEQ = #{cardSeq}
	</select>
	
	<delete id="deleteCardMem" parameterType="cardMemberDto">
		DELETE FROM KANBANCARD_MEMBER WHERE CARD_SEQ=#{card_seq} AND EMAIL=#{email}
	</delete>
	
	<delete id="deleteAllCardMem" parameterType="int">
		DELETE FROM KANBANCARD_MEMBER WHERE CARD_SEQ=#{card_seq}
	</delete>
	
	<select id="getCardSeqByMemberEmail" parameterType="String" resultType="int">
		SELECT CARD_SEQ FROM KANBANCARD_MEMBER WHERE EMAIL = #{param1}
	</select>
	
</mapper>


	










