<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
파일명: cardCommentsMapper.xml
설명: cardCommentsMapper.xml
작성일: 2021-01-17 ~
작성자: 문지연
 -->
<mapper namespace="kr.or.bit.dao.CardCommentsDao">

	<insert id="insertComments" parameterType="cardCommentsDto">
		INSERT INTO KANBAN_COMMENTS(EMAIL, CARD_SEQ, COMMENTS_SEQ, COMMENTS, REG_DATE,EDITED) 
		VALUES(#{email}, #{card_seq}, nextval('comments_seq'), #{comments}, now(), DEFAULT)
	</insert>
	
	<select id="loadComments" parameterType="int" resultType="cardCommentsDto">
		SELECT U.EMAIL, U.PROFILE, U.NICKNAME, K.COMMENTS, K.REG_DATE, K.COMMENTS_SEQ, K.EDITED
		FROM KANBAN_COMMENTS K
		JOIN USER U ON U.EMAIL=K.EMAIL
		WHERE CARD_SEQ = #{param1}
		ORDER BY K.COMMENTS_SEQ ASC;
	</select>
	
	<delete id="deleteCardComment" parameterType="int">
		DELETE FROM KANBAN_COMMENTS
		WHERE COMMENTS_SEQ = #{param1}
	</delete>
	
	<update id="editCardComment" parameterType="cardCommentsDto">
		UPDATE KANBAN_COMMENTS 
		SET COMMENTS=#{comments}, REG_DATE=now(), EDITED=1 WHERE COMMENTS_SEQ=#{comments_seq}
	</update>
	
	<delete id="deleteAllCardComm" parameterType="int">
		DELETE FROM KANBAN_COMMENTS WHERE CARD_SEQ=#{card_seq}
	</delete>
	
	<select id="getMyProfile" parameterType="String" resultType="String">
		SELECT PROFILE FROM USER WHERE EMAIL=#{param1}
	</select>
	
</mapper>



