<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
파일명: projectMapper.xml
설명: projectMapper.xml
작성일: 2020-12-31 ~ 
작성자: 문지연,변재홍
 -->
<mapper namespace="kr.or.bit.dao.ProjectDao">

	<update id="editProjectTitle" parameterType="ProjectDto">
		UPDATE PROJECT SET PROJECT_NAME = #{project_name} WHERE PROJECT_SEQ = #{project_seq}
	</update>

</mapper>
	










