<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</style>
</head>
<body style = "background-color: #31353d;">
	<!-- Register Completed Page -->
	<div style ="display: flex; justify-content: center; height: 100vh; background : #31353d; color: #fff; text-align: center; padding-top: 65px;">
		<div style = "width: 500px; height: fit-content; align-self: center; margin-bottom: 100px;">
			<!-- logo image -->
			<div class="register-completed-image">
							
			</div>
			
			<!-- completed message1 -->
			<div style = "background-color: #31353d; font-size: 2rem; font-weight: 400; margin-bottom: 30px;">
				<span style = "color: #f2dd68;font-weight: 700;">파이</span>
			</div>

			<!-- completed message2 -->
			<div style = "background-color: #31353d; font-size: 0.8rem; font-weight: 100; margin-bottom: 30px;">
				<a href ="http://localhost:8090/checkEmail.pie?check=${ranCheck}">회원가입</a>
			</div>
		</div>
	</div>
</body>
</html>